<div style="text-align:center">
    <h1>
      WELCOME TO {{ title }}
    </h1>
    <img width="300" alt="hope quote" src="assets/images/hope quote.jpg">
  </div>
  <body>
    <p class="big">
  
      Ever felt like your whole life is just going downhill?
      <br>
      Feeling as if nothing mattered to you anymore.
     <br>
      But somehow you managed to overcome all the obstacles.
      <br>
      Well alot of people feel that way and they need motivation.
      <br>
      This is a platform where you can share some quotes to help others.
      <br>
  
      <a id="begin" href ng-click="value = 1">BEGIN</a>
  </p>
  
  </body>