
    <form>
    
   <div id="hope">
    
      <div class="form-group">

      <label for="firstName">First Name</label> 
      <textarea id="firstName" col="30" row="20" class="form-control"></textarea>

                
   <div class="form-group">

      <label for="lastName">Last Name</label> 
      <textarea id="lastName" col="30" row="20" class="form-control"></textarea>
                
   <div class="form-group">

      <label for="quote">Add Quote</label> 
      <textarea id="quote" col="30" row="20" class="form-control"></textarea>
                
   <div class="form-group">

      <label for="comment">Comments</label> 
      <textarea id="comment" col="30" row="20" class="form-control"></textarea>

      <a id="submit" href ng-click="value = 1">SUBMIT</a>


    </div>  
          
    </div>  
                  
    </div>  
    </div>
                
   </div>
   
  

</form>


